@import "font.css" all;

.alert
{
  width: 25%;
  padding: 30px 40px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 4px;
}

.alert h3
{
  font-size: 2.25em;
  margin: 0;
  text-align: center;
}

.alert-success
{
  background-color: #8bbba6;
  box-shadow: 0 0 3px 4px #78ddaa;
}

.alert-info
{
  background-color: #536670;
  box-shadow: 0 0 3px 4px #4aacc7;
}

.alert-error
{
  background-color: #ad6773;
  box-shadow: 0 0 3px 4px #ef736e;
}

.alert-photo
{
  width: 55.6%;
  height: 60%;
  position: fixed;
  left: 20%;
  top: 30%;
}

.alert-photo > .alert-photo-bg
{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

#alertPlatform
{
  position: fixed;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
