.userComment
{
  margin: 5px 0px 30px 0px;
}

.userComment span
{
  color: #999;
  font-style: italic;
}

.userComment p
{
  margin: 20px 0px 20px 15px;
}

.userCommentHeader
{
  display: flex;
}

.userCommentHeader .user-avatar
{
  width: 60px;
  height: 54px;
  background-size: 100% 100%;
  background-image: url("/images/user-avatar.png");
}

.userCommentHeader .flex-vertical
{
  width: auto;
  margin: 0px 0px 0px 16px;
}
.userCommentHeader .flex-vertical h4
{
  margin: 5px 0px;
}
