@font-face
{
  font-family: Ubuntu; /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf); /* Путь к файлу со шрифтом */
  font-weight: normal;
  font-style: normal;
}

@font-face
{
  font-family: Ubuntu; /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-Italic.ttf); /* Путь к файлу со шрифтом */
  font-weight: normal;
  font-style: italic;
}

@font-face
{
  font-family: Ubuntu; /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf); /* Путь к файлу со шрифтом */
  font-weight: bold;
  font-style: normal;
}

@font-face
{
  font-family: Ubuntu; /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-BoldItalic.ttf); /* Путь к файлу со шрифтом */
  font-weight: bold;
  font-style: italic;
}

@font-face
{
  font-family: Ubuntu; /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf); /* Путь к файлу со шрифтом */
  font-style: italic;
  font-weight: normal;
}

@font-face
{
  font-family: Ubuntu; /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-LightItalic.ttf); /* Путь к файлу со шрифтом */
  font-style: italic;
  font-weight: lighter;
}

@font-face
{
  font-family: Ubuntu; /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf); /* Путь к файлу со шрифтом */
  font-weight: bolder;
}

@font-face
{
  font-family: Ubuntu; /* Имя шрифта */
  src: url(../fonts/Ubuntu/Ubuntu-MediumItalic.ttf); /* Путь к файлу со шрифтом */
  font-style: italic;
  font-weight: bolder;
}

/*-----------------------------------------------------------------------------*/

@font-face
{
  font-family: Oneday; /* Имя шрифта */
  src: url(../fonts/ONEDAY/ONEDAY.ttf); /* Путь к файлу со шрифтом */
  font-weight: normal;
  font-style: normal;
}
