@media screen and (min-width:850px) and (max-width:1190px) {
  /* Target landscape smartphones, portrait tablets, narrow desktops

  */

  .limitation
  {
    width: 80% !important;
  }

  main h3
  {
    font-size: 2em !important;
  }

  header nav ul li
  {
    margin: 0px 10px !important;
  }

  .newsSwitcher
  {
    height: 400px !important;
    font-size: 10px !important;
  }

  .new
  {
    padding: 15px !important;
  }

  .sliderBlock
  {
    height: 300px !important;
  }

  .slideInfo
  {
    padding: 12px 8px !important;
  }

  .slideInfo p
  {
     margin: 0 !important;
  }

  .biography-content
  {
    display: flex;
    flex-flow: column;
  }

  .bg
  {
    background-size: 100% 100% !important;
  }

}

@media screen and (min-width:600px) and (max-width:849px)
{

  p, li, a
  {
    font-size: 12px !important;
  }

  .limitation
  {
    width: 90% !important;
  }

  main h3
  {
    font-size: 2em !important;
  }

  header nav ul li
  {
    margin: 0px 5px !important;
  }

  .newsSwitcher
  {
    height: 400px !important;
    font-size: 10px !important;
  }

  .new
  {
    padding: 15px !important;
  }

  .sliderBlock
  {
    height: 300px !important;
  }

  .slideInfo
  {
    padding: 12px 8px !important;
  }

  .slideInfo p
  {
     margin: 0 !important;
  }

  .biography-content
  {
    display: flex;
    flex-flow: column;
  }

  .bg
  {
    background-size: 100% 100% !important;
  }

}
