@import "font.css" all;
@import "alert.css" all;
@import "comment.css" all;
@import "media.css" all;

*
{
  box-sizing: border-box;
}

html, body
{
  padding: 0;
}

body
{
  font-family: Ubuntu;
  color: white;
  background-color: black;
  line-height: 1.2;
}

p, li, a
{
  font-size: 16px;
}

a, a:visited, a:active
{
  color: inherit;
  text-decoration: none;
}

h4
{
  font-size: 1.5em;
}

p.center
{
  text-align: center;
}

.limitation
{
  width: 66%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

input
{
  padding: 15px 0px 15px 3px;
  border: none;
  border-radius: 14px;
}

input:focus
{
  border: none;
  outline: none;
}

input[type = "submit"],
input[type = "button"],
button,
label.button,
a.btn
{
  border: 3px solid white;
  padding: 10px 45px;
  color: inherit;
  font-size: 1em;
  font-family: Ubuntu;
  background-color: transparent;
  display: inline;
  margin: 0px auto;
  cursor: pointer;
  border-radius: 0px;
}

a.btn
{
  display: inline-block;
}

input[type = "file"]
{
  display: none;
  pointer-events: none;
  user-select: none;
}

input + .input-hint
{
  font-size: 12px;
}

.flex
{
  display: flex;
}

.flex-between
{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-center
{
  display: flex;
  align-items: center;
  width: 100%;
}

.flex-vertical
{
  display: flex;
  flex-flow: column;
  width: 100%;
}

.flex-row-reverse
{
  display: flex;
  flex-flow: row-reverse;
}

.flex-horizontal
{
  display: flex;
  flex-flow: row;
}

.flex-between-row
{
  display: flex;
  justify-content: space-between !important;
  flex-flow: row !important;
}

.outLink
{
  display: block;
  font-style: italic;
  text-decoration: underline;
  margin: 15px 0px;
}

.header
{
  margin-bottom: 50px;
}

.header h1,
.header h2,
.header h3,
.header h4,
.header h5
{
  margin: 0;
}

.note
{
  color: #676767;
  font-size: 0.75em;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

/*-------------------------------------------------------------*/

#intro
{
  width: 100%;
  height: 1200px;
  background-image: url("../images/introBG.png");
  background-size: cover;
  display: flex;
  flex-flow: column;
  padding-bottom: 50px;
}

/*-------------------------------------------------------------*/

header
{
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: column;
}

header .limitation
{
  align-items: center;
}

header nav ul
{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  font-weight: bold
}

header nav ul li
{
  margin: 0px 20px;
  cursor: pointer;
  -moz-transform: scale(0.88, 1);
  -webkit-transform: scale(0.88, 1);
  -ms-transform: scale(0.88, 1);
}

header nav ul li:hover
{
  /* Tripple shadow multiply */
  text-shadow: #66b8dd 0 0 10px, #66b8dd 0 0 10px, #66b8dd 0 0 10px;
}

li#currentPage
{
  cursor: default;
  border-bottom: 1px solid #80bad6;
}

li#currentPage:hover
{
  text-shadow: none;
}

#headerLogin
{
  color: #4c7182;
}

.auth
{
  width: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#localeForm
{
  width: 16%;
  margin: 0px auto;
}

#localeForm .localeSetting
{
  width: 100%;
  background: transparent;
  color: #797979;
  font: inherit;
  padding: 12px 0px;
  border: none;
  border-bottom: 1px solid #797979;
  border-radius: 0;
}


/*-------------------------------------------------------------*/

.logo
{
  width: 5%;
  height: 19px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 40px;
}

/*-------------------------------------------------------------*/

#logout-form input
{
  background: transparent;
  color: inherit;
  padding: 0;
  border: none;
}

/*-------------------------------------------------------------*/

#introContent
{
  width: 100%;
  text-align: center;
  margin-top: 500px;
}

#introContent p, h1
{
  margin-bottom: 45px;
  margin-top: 0;
}

#introContent .limitation
{
  flex-flow: column;
}

#introContent h1
{
  width: 100%;
  font-family: Oneday;
  font-size: 80px;
  -moz-transform: scale(0.88, 1);
  -webkit-transform: scale(0.88, 1);
  -ms-transform: scale(0.88, 1);
  font-weight: normal;
  letter-spacing: 20px;
}

#introContent p
{
  width: 35%;
  margin: 35px auto;
  font-weight: bold;

  -moz-transform: matrix( 0.8807555321645,0,0,1.0009714944449,0,0);
  -webkit-transform: matrix( 0.8807555321645,0,0,1.0009714944449,0,0);
  -ms-transform: matrix( 0.8807555321645,0,0,1.0009714944449,0,0);
}

#introContent p b
{
  font-size: 32px;
  color: #e21729;
}

.btn-blue
{
  color: #95d1f7 !important;
  box-shadow: 0 0 3px 4px #4aacc7, inset 0 0 3px 4px #4aacc7;
}

/*-------------------------------------------------------------*/

main
{
  width: 100%;
  padding: 75px 0px;
  min-height: 650px;
}

main > .limitation
{
  justify-content: flex-start;
  flex-flow: column;
}

main h3
{
  font-size: 48px;
  text-align: center;
}

/*-------------------------------------------------------------*/

.newsSwitcher
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 635px;
  font-size: 16px;
}

.newsSwitcher aside
{
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  width: 22%;
  height: 100%;
  margin-left: 30px;
}

.newsSwitcher aside .new:last-child
{
  margin-top: 30px;
}

.new
{
  border: 1px solid #374a5a;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  width: auto;
  padding: 30px;
  flex: 1 1 auto;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

#switchedNew
{
  width: 78%;
  height: 100%;
  align-self: stretch;
  padding: 100px 30px;
  background-image: url("../images/new1.png");
}

#switchedNew h4
{
  font-size: 3em;
}

/* TODO: Fix backgrounds */

#new1
{
  background-image: url("../images/new2.png");
}

#new2
{
  background-image: url("../images/new3.png");
}

.new h4
{
  margin: 0;
  font-size: 1.5em
}

.new p
{
  color: #9b9b9b;
}

/*-------------------------------------------------------------*/

#pr
{
  width: 100%;
  height: 300px;
  margin-top: 15px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#pr h4
{
  font-size: 28px;
  text-align: center;
  /* margin: 0; */
}

.btn-pink
{
  box-shadow: 0 0 3px 4px #cf5488, inset 0 0 3px 4px #cf5488;
}

/*-------------------------------------------------------------*/

.sliderBlock
{
  width: 100%;
  height: 535px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliderArrow
{
  width: 14px;
  height: 23px;
  background-size: contain;
  background-image: url("../images/arrow.png");
  cursor: pointer;
}

.sliderArrow:last-child
{
  transform: rotateZ(180deg);
}

.sliderContent
{
  width: 74%;
  height: 100%;
  border: 1px solid #374a5a;
}

.slideBG
{
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-size: cover;
  background-image: url("../images/slide1.png");
}

.slideInfo
{
  background-color: rgb(146, 160, 220);
  opacity: 0.459;
  width: 38.5%;
  padding: 23px 18px;
}

.slideInfo h5
{
  font-size: 21px;
  text-align: center;
  margin-top: 0px;
}

.slider .outLink
{
  width: 74%;
  margin: 15px auto 0px auto;
  text-align: right;
}

/*-------------------------------------------------------------*/

.slideIndicators
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.slideIndicator
{
  width: 11px;
  height: 11px;
  background-size: cover;
  background-image: url("../images/indicator.png");
  margin: 0px 7px;
}

.slideIndicatorActive
{
  background-image: url("../images/indicatorActive.png");
}

/*-------------------------------------------------------------*/

#searchNewsForm
{
  width: 100%;
  margin-bottom: 35px;
  display: flex;
}

#searchNewsForm input
{
  background-color: transparent;
}

#searchFormInput
{
  width: 38.63%;
  margin: auto;
  background-color: white;
}

.flex-between #searchFormInput
{
  margin: 0;
}

#searchNewsForm + .container-form input[type = "submit"]
{
  margin: 0;
}


.formInput
{
  display: flex;
  border-radius: 18px;
  margin-bottom: 50px;
}

#noteFormInput
{
  margin-top: -20px;
  margin-bottom: 30px;
}

.formInput input
{
  flex: 3 0 auto;
}

#searchFormInput .formInput
{
  margin-bottom: 0px;
}

.inputImg
{
  flex: 1 0 auto;
}

#searchNewsImg
{
  background-image: url("../images/searchIcon.png");
  background-position: center center;
  background-repeat: no-repeat;
}

/*-------------------------------------------------------------*/
.newConcept
{
  border: 5px solid #80bad6;
  border-bottom: none;
  margin-bottom: 85px;
}

.newsElement
{
  width: 100%;
  border-bottom: 5px solid #80bad6;
  background-image: url("../images/new1.png");
  background-size: cover;
  padding: 17px 20px;
}

.newsElementHeader
{
  display: flex;

}

.newsElementHeader > .flex-between
{
  width: 400px;
  margin: 0px 18% 0px 18%;
}

.formEditContainer > .container-form
{
  width: auto;
  margin: 0;
}

.formEditContainer .formInput
{
  margin: 0;
}

.formEditContainer input[type = "submit"]
{
  border: none;
  box-shadow: none;
  font-size: 14px;
  text-decoration: underline;
  text-transform: none !important;
}

.formEditContainer .btn-blue
{
  color: #94e9ff !important;
}

.formEditContainer .btn-pink
{
  color: #b94c4c !important;
}

.newsElement h3
{
  margin: 25px 0px;
}

.newsElementDate
{
  color: rgb(131, 131, 131);
}

.newsContent
{
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  height: 500px;
}

.newsText
{
  padding: 0px 40px;
}

.newsPhotos
{
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: space-around;
}

.newsPhoto
{
  width: 20%;
  height: 100%;
  background-image: url("../images/avaViari.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  cursor: pointer;
}

.newsPhotoZoom
{
  width: 80%;
  height: 80%;
  background-image: url("../images/zoom-in.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.newsPhoto .newsPhotoZoom
{
  display: none;
}

.newsPhoto:hover
{
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.newsPhoto:hover .newsPhotoZoom
{
  display: block;
}

.toggle-comments
{
  font-style: italic;
  text-decoration: underline;
  text-align: center;
}

.newComments
{
  width: 100%;
  padding-top: 85px;
  border-bottom: 5px solid #80bad6;
  display: none;
}

.newComments > .limitation
{
  width: 80%;
  flex-flow: column;
}

#comment-form
{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

#comment-form .formInput
{
  margin: 0;
}

#comment-textarea
{
  width: 70%;
}

#comment-textarea input
{
  padding: 12px 15px;
  border: 1px solid #fff;
}
/*-------------------------------------------------------------*/

.queueLinks
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.queueLinks a
{
  color: #929292;
  margin: 0px 2px;
}

.queueLinks a.active
{
  color: #fff;
}

a.up
{
  font-style: italic;
  text-decoration: underline;
  color: white;
  margin-left: 15px;
}

/*-------------------------------------------------------------*/

.intro-text
{
  width: 60%;
  margin: 0px auto;
  text-align: center;
}

.intro-text-separate
{
  margin-top: 90px;
}

/*-------------------------------------------------------------*/

.biography-post
{
  background-size: cover;
  background-repeat: no-repeat;
}

.biography-post:nth-child(odd)
{
  background-image: url("../images/oddBiography.png");
}

.biography-post:nth-child(even)
{
  background-image: url("../images/evenBiography.png");
}


.paint-header
{
  background-size: 100% 100%;
  background-image: url("../images/prBG.png");
  background-repeat: no-repeat;
}

.biography-post .paint-header
{
  width: 50%;
  padding: 5px;
}

.biography-header
{
  display: flex;
  flex-flow: column;
  -ms-align-items: center;
  align-items: center;
  text-align: center;
}

.biography-post .paint-header h3
{
  margin:5px;
}

.biography-profile
{
  font-weight: bolder;
  margin: 45px 0px;
}

.biography-profile p
{
  margin: 0;
}

.biography-content
{
  width: 95%;
}

.biography-post:nth-child(even) .biography-content
{
  margin-left: auto;
}

.biography-post:nth-child(odd) .biography-content
{
  margin-right: auto;
}

.biography-post:nth-child(even) .biography-content img
{
  float: left;
  margin-right: 25px;
}

.biography-post:nth-child(odd) .biography-content img
{
  float: right;
  margin-left: 25px;
}

.biography-content p
{
  margin-bottom: 40px;
}

/*-------------------------------------------------------------*/

.bg
{
  width: 100%;
  height: 100%;
  background-image: url("../images/bg.png");
  background-size: cover;
  min-height: 850px;
}

.bg-left
{
  background-position: left;
  background-repeat: no-repeat;
}

/*-------------------------------------------------------------*/

.container-form
{
  width: 33%;
  margin: 0px auto;
}

.container-form .formInput
{
  flex-flow: column;
}

.container-form .formInput p
{
  margin-bottom: 0;
}

.container-form h3
{
  margin-top: 0px;
}

.container-form button,
.container-form input[type = "button"],
.container-form input[type = "submit"],
.container-form input[type = "reset"],
label.button
{
  /* width: 70%; */
  text-transform: uppercase;
  color: #80bad6;
  font-weight: bold;
  text-align: center;
}

.container-form input[type = "text"],
.container-form input[type = "password"]
{
  background: transparent;
  color: #797979;
  font: inherit;
  padding: 12px 0px;
  border-bottom: 1px solid #797979;
  border-radius: 0;
}

.container-form textarea
{
  background: transparent;
  color: #797979;
  font: inherit;
  padding: 12px 0px;
  border: 1px solid #797979;
}

.container-form .outLink
{
  font-size: 1.3em;
  margin: 0px auto;
}

.form-right
{
  margin: 0px 97px 0px 0px;
  align-self: flex-end;
}

/*-------------------------------------------------------------*/

#login-form
{
  margin-top: 120px;
}

/*-------------------------------------------------------------*/

.spacer-line
{
  height: 1px;
  width: 65.7%;
  background-color: #e0616c;
  margin: 75px auto;
}

.portfolio-post
{
  width: 100%;
}

.portfolio-post .limitation
{
  width: 85%;
  height: auto;
  margin-bottom: 30px;
}

.portfolio-post:nth-child(odd) .limitation
{
  flex-flow: row-reverse;
}

.portfolio-post:nth-child(odd) p
{
  text-align: right;
}

.portfolio-post-img
{
  width: 48%;
  border: 7px solid #fff;
  box-shadow: 0 0 3px 4px #4aacc7;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* =------------------------------------= */

.portfolio-post-img h3
{
  font-weight: normal;
  font-size: 2em;
}

.portfolio-post-img:hover
{
  background-color: rgba(74, 172, 199, 1);
  background-blend-mode: overlay;
}

.portfolio-post p
{
  width: 48%;
  margin: 0;
}

/*-------------------------------------------------------------*/

#contactsContent
{
  text-align: center;
}

#contactsFooter
{
  width: 70%;
}

#contactsFooter h4
{
  font-weight: normal;
}

#contactsFooter > .flex-between
{
  margin: 70px 0;
}


.contactAuthor
{
  width: 40%;
  text-align: left;
  display: flex;
}

.contactAuthor p
{
  margin: 0px 0px 20px 50px;
}

.contactAvatar
{
  width: 127px;
  height: 128px;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 0 0 auto;
}

.contactV
{
  background-image: url("../images/avaViari2.png");
}

.contactM
{
  background-image: url("../images/avaM2.png");
}

/*-------------------------------------------------------------*/

#map
{
  width: 100%;
  height: 543px;
}

/*-------------------------------------------------------------*/

.service
{
  width: 22.6%;
  height: 384px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 22px 12px;
  background-image: url("../images/servicestest.png");
  background-size: cover;
  text-align: center;
}

.add-to-cart
{
  width: 45px;
  height: 48px;
  background-image: url("../images/add-to-cart.png");
  background-size: contain;
}

.add-to-cart:hover
{
  background-image: url("../images/add-to-cart-hover.png");
}

.service h4
{
  margin-top: 56%;
}

/*-------------------------------------------------------------*/

.userCard
{
  margin: 5px 0px 30px 0px;
}

.userCard span
{
  color: #999;
  font-style: italic;
}

.userCard p
{
  margin: 20px 0px 20px 15px;
}

.userCardHeader
{
  display: flex;
}

.userCardHeader .user-avatar
{
  width: 60px;
  height: 54px;
  background-size: 100% 100%;
  background-image: url("/images/user-avatar.png");
}

.userCardHeader .flex-vertical
{
  width: auto;
  margin: 0px 0px 0px 16px;
}
.userCardHeader .flex-vertical h4
{
  width: 220px;
  margin: 5px 0px;
}

.post-author
{
  text-align: right;
}

/*-------------------------------------------------------------*/

.sitemap p, .sitemap li
{
  font-size: 1.4em;
}

.sitemap a
{
  text-decoration: underline;
}

.sitemap li
{
  padding: 8px;
}

/*-------------------------------------------------------------*/

footer
{
  width: 100%;
  height: 189px;
  background-color: #171c21;
  padding: 25px 0px 50px 0px;
}

footer .limitation
{
  display: block;
}

footer .logo
{
  margin: 0px auto 25px auto;
}

footer p
{
  width: 100%;
  align-self: flex-end;
  font-size: 12px;
  -moz-transform: matrix( 0.87946746741426,0,0,1.00057273678829,0,0);
  -webkit-transform: matrix( 0.87946746741426,0,0,1.00057273678829,0,0);
  -ms-transform: matrix( 0.87946746741426,0,0,1.00057273678829,0,0);
  line-height: 1.2;
  text-align: right;
  margin: 0;
}
